*{
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;0,800;1,500;1,700&display=swap');
:root{
    --primary-color:white;
    --secondary-color:black;
} 
.dark-theme{
    --primary-color: black;
    --secondary-color: white;
}
/* ------------------navbar----------------------- */
.navbar{
    margin-bottom: 5px;
    background-color: black !important;
}
.navbar-brand, .navbar-nav li a{
    color: white  !important;
}
.navbar-nav li a:hover{
    background-color: white !important;
    color: black !important;
}

.dropdown-menu{
    background-color: black !important;
}
.btn-search{
    background-color: white !important;
    color: black !important;
}
.fa-bars{
    color: white !important;
    font-size: 30px !important;
}
.login{
    width: 30px;
    margin-left: 15px;
    background-color: white;
    padding: 3px;
    border-radius: 50%;
}
#icon{
    width: 30px;
    margin-left: 15px;
    background-color: white;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-item{
    font-size: 20px !important;
}
/* ----------------------banner----------------- */
#banner{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/banner0.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 50px;
}
.banner-title{
    text-align: center;
    color: white;
    padding-top: 200px;
    padding-bottom: 10px;
}
.input-group{
    width: 90% !important;
    max-width: 700px;
    border-radius: 50px;
    background: white;
    margin: auto;
    padding: 2px;
    /* top: 50%; */
}
.form-control{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
    height: 40px !important;
}
.input-group-text{
    height: 40px !important;
    width: 100%;
    background-color: black !important;
    border: 0 !important;
    color: #fff !important;
    border-radius:30px !important;
    padding: 0 25px !important;
    box-shadow: none;
}
.fa-search{
    font-size: 20px !important;
}
/* --------------------new products----------------------- */
#new{
    padding: 50px 0;
    background: var(--primary-color);
}
.list-product-subtitle{
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    color: var(--secondary-color);
}
.card-product{
    width: 100%;
    overflow: hidden;
}
.layer{
    position: absolute;     
    background: transparent;
    width: 100%;
    height: 100%;
}
.layer:hover{
    background-image: linear-gradient(black,orangered);
    opacity: 80%;
}
.layer .btn-layer{
    color: white;
    border-radius: 10px;
    font-weight: bold;
    background-color: black !important;
    top: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
} 
.layer:hover .btn-layer{
    
    top:49%;
    opacity: 1;
}

.del-price{
    font-size: 18px;
}
.list-product-title{
    border-radius: 20px;
    padding: 5px;
    background-color: orangered;
    margin-bottom: 5px;
    color: white;
    margin: auto;
}
/* ---------------------hot----------------------- */
 #hot{
    padding: 50px 0;
    background: var(--primary-color);
} 
.sale-sticky{
    position: absolute;
    transform: rotate(45deg);
    top: 11px;
    right: -43px;
    text-align: center;
    background-color: orangered;
    color: white;
    width: 150px;
    display: block;
}
/* --------sale off------- */
#sale-off{
    padding: 50px 0;
    background: var(--primary-color);
}
.sale-off-sticky{
    position: absolute;
    transform: rotate(45deg);
    top: 22px;
    right: -34px;
    text-align: center;
    background-color: orangered;
    color: white;
    width: 150px;
    display: block;
}
.product-price{
    margin: auto;
}
.old-price{
    font-size: 18px;
    text-align: center;
    text-decoration: line-through;
}
.new-price{
    margin: auto;
    font-size: 25px;
    text-align: center;
    /* float: right; */
    background-color: orangered;
    color: white;
    padding: 2px;
}
/* -----------review----------- */
#review{
    padding: 50px 0;
    background: var(--primary-color);
}
#review h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--secondary-color);
}
.box-review{
    text-align: center;
    box-shadow: 0 0 10px 0 rgb(61, 55, 55);
    padding: 25px 0;
    background-color: white;
}
.box-review img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: 15px 0px -53px 10px;   
}
/* ---------------------contact------------------ */
#contact{
    padding: 50px 0;
    width: 100%;
    background: var(--primary-color) ;
}
.map{
    margin-bottom: 10px;
}
.map p{
    color: var(--secondary-color);
}
.social{
    background-color: #efefef;
    padding: 10px 50px;
    margin-bottom: 20px;
}
.social h1{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}
.contact-title{
    border-radius: 20px;
    padding: 5px;
    background-color: orangered;
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
    color: white;
    text-align: center;
}
.social p a{
    text-decoration: none;
}
.fa-facebook{
    font-size: 20px ;
    color: blue;
}
.fa-youtube{
    font-size: 20px ;
    color: red;
}
.fa-twitter{
    font-size: 20px ;
    color:black;
}
.fa-instagram{
    font-size: 20px ;
    color:white;
    background-image: linear-gradient(rgb(250, 11, 143),yellow);
    border-radius: 7px;
    padding: 0%;
}
.link-social{
    color: black;
    margin-left: 15px;
}
.link-social:hover{
    color: black;
    font-weight: bold;
}
.map p{
    font-size: 20px;
    font-weight: bold;
}

