*{
    border: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* -----navbar--------- */
.navbar{
    margin-bottom: 10px;
    background-color: black !important;
}
.navbar-brand, .navbar-nav li a{
    color: white  !important;
}
.navbar-nav li a:hover{
    background-color: white !important;
    color: black !important;
}

.dropdown-menu{
    background-color: black !important;
}
.btn-search{
    background-color: white !important;
    color: black !important;
}
.fa-bars{
    color: white !important;
    font-size: 30px !important;
}
#icon{
    width: 30px;
    margin-left: 15px;
    background-color: white;
    padding: 3px;
    border-radius: 50%;
}
.nav-item{
    font-size: 20px !important;
}
/* ---------new products----------- */
#new{
    margin-top: 50px;
}
.list-product-subtitle{
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
}
.card-product{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.del-price{
    font-size: 18px;
}
.list-product-title{
    border-radius: 20px;
    padding: 5px;
    background-color: orangered;
    margin-bottom: 5px;
    color: white;
}
/* -------hot------------ */
 #hot{
    margin-top: 50px;
} 
.sale-sticky{
    position: absolute;
    transform: rotate(45deg);
    top: 11px;
    right: -43px;
    text-align: center;
    background-color: orangered;
    color: white;
    width: 150px;
    display: block;
}
/* --------sale off------- */
#sale-off{
    margin-top: 50px;
}
.sale-off-sticky{
    position: absolute;
    transform: rotate(45deg);
    top: 22px;
    right: -34px;
    text-align: center;
    background-color: orangered;
    color: white;
    width: 150px;
    display: block;
}
.old-price{
    font-size: 18px;
    text-decoration: line-through;
}
.new-price{
    font-size: 18px;
    float: right;
    background-color: orangered;
    color: white;
    padding: 2px;
}
/* -------contact------ */
#contact{
    margin-top: 50px;
    
}
.map{
    margin-bottom: 10px;
}
.social{
    background-image: linear-gradient(red,purple);
    height: 150px;
}
.right-social i{
    width: 100% !important;
}
.fa-facebook{
    font-size: 20px ;
    color: blue;
}